@use "../utils/colours" as *;
@use "../utils/mixins" as *;

.button {
  border-style: none;
  @include form-element-shape;
  &-dark {
    background-color: $dark-slate-grey;
  }

  &:hover {
    background: $tomato-gradient;
    box-shadow: 0px 16px 32px 0px $tomato;
    cursor: pointer;
  }
}
