@use "../utils/colours" as *;
@use "../utils/mixins" as *;

.card {
  position: relative;
  background-color: $white;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include respond-to("medium") {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    margin: 1rem;
  }

  &_success {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // --------------- card image -------------
  &__image {
    height: 100%;
    > img {
      width: 100%;
      object-fit: cover;
      border-radius: 0 0 1rem 1rem;

      @include respond-to("medium") {
        height: 100%;
        border-radius: 2rem;
        padding: 1rem;
        object-fit: cover;
      }
    }
  }

  &__figure {
    @include respond-to("medium") {
      order: 2;
    }

    &_success {
      @include respond-to("medium") {
        order: 0;
      }
    }
  }

  // -------------- card content -----------
  &__body {
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    height: 100%;

    @include respond-to("medium") {
      gap: 1.5rem;
      padding-inline: 4rem;
      order: 1;
    }

    &_success {
      padding: 1.5rem;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      @include respond-to("medium") {
        max-width: 31.5rem;
        padding: 3rem;
        gap: 2rem;
      }
    }
  }

  &__list {
    list-style: none;
    > li {
      position: relative;
      margin-bottom: 0.8rem;
    }
    > li::before {
      content: url("../images/icon-list.svg");
      position: absolute;
      left: -2.6rem;
    }

    @include respond-to("medium") {
      > li {
        margin-bottom: 1.2rem;
      }
    }
  }

  // --------- footer ---------------------
  &__footer {
    padding-inline: 1.5rem;
    padding-block-end: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
