/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
span,
p,
a,
li,
label,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  color: #242742;
  line-height: 1.5;
}

.text-bold {
  font-weight: bold;
}
.text-small {
  font-size: 0.75rem;
}
.text-regular {
  font-size: 1rem;
}
.text-large {
  line-height: 1.1;
  font-size: 2.5rem;
}
@media (min-width: 48rem) {
  .text-large {
    font-size: 3rem;
  }
}
@media (min-width: 75rem) {
  .text-large {
    font-size: 3.5rem;
  }
}
.text-white {
  color: #ffffff;
}
.text-dark {
  color: #242742;
}
.text-error {
  color: #ff6155;
}

.card {
  position: relative;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .card {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    margin: 1rem;
  }
}
.card_success {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__image {
  height: 100%;
}
.card__image > img {
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 1rem 1rem;
}
@media (min-width: 48rem) {
  .card__image > img {
    height: 100%;
    border-radius: 2rem;
    padding: 1rem;
    object-fit: cover;
  }
}
@media (min-width: 48rem) {
  .card__figure {
    order: 2;
  }
}
@media (min-width: 48rem) {
  .card__figure_success {
    order: 0;
  }
}
.card__body {
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  height: 100%;
}
@media (min-width: 48rem) {
  .card__body {
    gap: 1.5rem;
    padding-inline: 4rem;
    order: 1;
  }
}
.card__body_success {
  padding: 1.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .card__body_success {
    max-width: 31.5rem;
    padding: 3rem;
    gap: 2rem;
  }
}
.card__list {
  list-style: none;
}
.card__list > li {
  position: relative;
  margin-bottom: 0.8rem;
}
.card__list > li::before {
  content: url("../images/icon-list.svg");
  position: absolute;
  left: -2.6rem;
}
@media (min-width: 48rem) {
  .card__list > li {
    margin-bottom: 1.2rem;
  }
}
.card__footer {
  padding-inline: 1.5rem;
  padding-block-end: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.newsletter-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.newsletter-form__error {
  position: absolute;
  transform: translateX(clamp(10rem, 6rem + 8vw, 16rem));
  visibility: hidden;
}
.newsletter-form__email-input {
  width: 100%;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5;
  margin-top: 0.5rem;
  border: solid 1px #242742;
}
.newsletter-form__email-input-error {
  background-color: rgba(255, 97, 85, 0.2);
  color: #ff6155;
  border-color: tomato;
}

.button {
  border-style: none;
  width: 100%;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5;
}
.button-dark {
  background-color: #242742;
}
.button:hover {
  background: linear-gradient(#ff6a3a, #ff527b);
}

.page {
  height: 100dvh;
  width: 100dvw;
  background-color: #36384d;
  position: relative;
}
@media (min-width: 48rem) {
  .page {
    display: grid;
    place-items: center;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
