@use "../utils/colours" as *;
@use "../utils/mixins" as *;

.page {
  height: 100dvh;
  width: 100dvw;
  background-color: $charcoal-grey;
  position: relative;

  @include respond-to("medium") {
    display: grid;
    place-items: center;
  }
}
